.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.side_nav a {
  padding: 0px 0px 0px 5px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side_nav a:hover {
  color: #ff4c3b;
}
.side_nav .btn_close {
  // position: absolute;
  // top: 0;
  // left: 0;
  font-size: 36px;
}
